@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #00101B;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbarr {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
}

.sticky {
  padding: 10px 0;
  background: #020e16;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.logo a {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list li {
  font-size: 20px;
  font-weight: 300;
  margin-right: 15px;
}

.menu-list li a {
  color: #fff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.menu-list li a:hover {
  color: #6db5ff;
}

.icon-nav {
  cursor: pointer;
  display: none;
}

.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 868px) {
  .icon-nav {
    display: block;
  }
  .icon-nav.hide {
    display: none;
  }
  .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    background: #020e16;
    height: 120vh;
    width: 100%;
    display: block;
    padding: 40px 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu-list li {
    margin-top: 25px;
  }
  .active {
    left: 0%;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: url(../images/sectionbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content h1 {
  position: absolute;
  font-size: 80px;
  font-weight: 800;
  margin: 70px 0 0 90px;
}

.title-center {
  font-size: 50px;
  font-weight: 700;
}

.title-menyu {
  font-size: 50px;
  font-weight: 700;
}

.box-img-content {
  color: #fff;
}

.box-text {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-text h2 {
  font-size: 50px;
  font-weight: 700;
}

.box-text span {
  font-size: 25px;
  font-weight: 400;
}

.ximya-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-img {
  height: 300px;
  background-image: url(../images/box-img-biology.jpg);
  border-radius: 100px 0 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.box-img2 {
  height: 300px;
  background-image: url(../images/box-img-ximya.jpg);
  border-radius: 100px 0 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sircle-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.sircle-slider h3 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 400;
}

.sircle-slider span {
  font-size: 20px;
  font-weight: 300;
}

.circle-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fon-1 {
  background-image: url(../images/diana.png);
}

.fon-2 {
  background-image: url(../images/Ellipse2.png);
}

.fon-3 {
  background-image: url(../images/Ellipse3.png);
}

.accordion {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.accordion .icon {
  position: absolute;
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../icon/plus.svg) no-repeat center;
  float: left;
  -webkit-transition: all .5 ease-in;
  transition: all .5 ease-in;
}

.accordion h5 {
  margin: 0;
  margin-left: 40px;
  font-size: 22px;
  color: #dee4e9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.active .icon {
  background: url(../icon/minus.svg) no-repeat;
}

.active {
  color: #000;
}

.active h5 {
  color: #fff;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin: 20px;
  font-size: 15px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .5s ease-e;
  transition: all .5s ease-e;
}

.signup__input {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #6db5ff;
  margin-top: 10px;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  font-size: 20px;
  color: #fff;
  padding: 2px;
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 20px;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 20px;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 20px;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 20px;
  opacity: 1;
  /* Firefox */
}

.leble__input {
  color: #6db5ff;
  font-size: 22px;
  font-weight: 400;
}

.bio {
  max-width: 400px;
  min-height: 40px;
  max-height: 200px;
  min-width: 300px;
}

.btn-call {
  width: 60%;
  margin: 0 auto;
}

.btn-sign {
  background-color: #020e16;
  border: 1px solid #6db5ff;
}

.footuer {
  width: 100%;
  background-color: #020e16;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call p {
  font-size: 18px;
}

.icon-mesengr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-icon-ms {
  margin-right: 15px;
  -webkit-transition: all .5 ease;
  transition: all .5 ease;
  color: #6db5ff;
}

.btn-icon-ms:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .header {
    height: 80vh;
  }
  .header-content h1 {
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  .header-icon {
    width: 80px;
  }
}

@media (max-width: 720px) {
  .header {
    width: 100%;
    height: 40vh;
  }
  .header-content h1 {
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .header-icon {
    width: 60px;
  }
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 540px) {
  .header {
    height: 40vh;
  }
  .header-content h1 {
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .header-icon {
    width: 50px;
  }
  .title-center {
    font-size: 30px;
    font-weight: 600;
  }
  .title-menyu {
    font-size: 30px;
    font-weight: 600;
  }
  .box-text {
    width: 90%;
    margin: 0 auto;
  }
  .box-img {
    width: 90%;
    height: 200px;
    margin: 0 auto;
  }
  .box-img2 {
    width: 90%;
    height: 200px;
    margin: 0 auto;
  }
  .box-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signup__input {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */